# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [3]:
# Exercise 1: Find the 10 countries with most projects

# Read in the data to DataFrame
df = pd.read_json('data/world_bank_projects.json')
#df.head(3)   #Just to check

In [4]:
# Group by name and sort by number of projects, show top 10
num_proj_by_country = df.groupby('countryname').size()
num_proj_by_country.sort_values(ascending=False).head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [5]:
# Exercise 2 : Find the top 10 major project themes (using column 'mjtheme_namecode')

# Load the json data as str
data = json.load((open('data/world_bank_projects.json')))

In [6]:
# Normalized with themes
data_by_themes = json_normalize(data, 'mjtheme_namecode')
#data_by_themes.head(5)     #just to check

In [7]:
# Group by theme name and sort by number of projects, show top 10
dbt = data_by_themes.groupby('name').size()
dbt.sort_values(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [8]:
# Exercise3: In 2. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.

In [9]:
# Check how the missing values (empty names) are expressed in what dtype
list(data_by_themes['name'].head())

['Human development',
 '',
 'Economic management',
 'Social protection and risk management',
 'Trade and integration']

In [10]:
# Now I know mising values are expressed as '' (str type)
# Replace those names with "NAME UKNOWN"
dbt2 = data_by_themes.copy()
dbt3 = dbt2.copy()
dbt3['name'] = dbt3.name.replace('', 'NAME UNKNOWN')

# dbt2 still has missing values. See replaced version in the next cell
dbt2.head(15)

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance

In [11]:
# Now '' is replaced with 'NAME UKNOWN' in dbt3
dbt3.head(15)

   code                                          name
0     8                             Human development
1    11                                  NAME UNKNOWN
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6                                  NAME UNKNOWN
14    2                      Public sector governance